.loader {
  position: absolute;
  left: 50%;
  margin-top: 50%;
  transform: translate(-50%, -50%);
}
.loader .txt {
  position: relative;
  left: 50%;
  top: 10px;
  font-weight: 400;
  transform: translateX(-45%);
}

.clock {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: solid 5px var(--headline);
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: -25px;
}

.clock .hours {
  position: absolute;
  width: 50px;
  height: 5px;
  top: 22.5px;
  animation: you-spin-me-round-round-baby-right-round 5s linear 0s infinite;
}

.clock .hours:before {
  content: "";
  height: 5px;
  width: 16px;
  position: absolute;
  right: 11px;
  background: var(--headline);
  border-radius: 5px;
}

.clock .minutes {
  position: absolute;
  width: 50px;
  height: 5px;
  top: 22.5px;
  animation: you-spin-me-round-round-baby-right-round 0.41s linear 0s infinite;
}

.clock .minutes:before {
  content: "";
  height: 5px;
  width: 22px;
  position: absolute;
  right: 5px;
  background: var(--button-text);
  border-radius: 5px;
}

@keyframes you-spin-me-round-round-baby-right-round {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}
